.venv/
__pycache__/
.pytest_cache/
.hypothesis/
.ruff_cache/
*.egg-info/
dist/
build/
docs/_build/
rust/target/
src/django_fast_multipart/*.so
src/django_fast_multipart/*.pyd
src/django_fast_multipart/*.dylib
